<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        The E consultation system is an end user support and online consultation project. Here we propose a system that connects patients to available doctors for online consultation
         and also allows doctors to email subscriptions in printable format. Our proposed system aims to build an environment where various patients needing doctor help at their home can consult doctors, send their images(for skin diseases/beauty related issues), chat with doctors, tell then their issues and discuss remedies. 
        It also consists of a doctors login panel where doctor may login to the system and then see patient requests for consultations.
    </p>
    
    <p>
        The system then schedules those requests and serves them to doctor one after another. This allows doctors to chat with patients and discuss their problems. At the end of consultation the doctor may send them an online subscription in a printable word format so that they may directly print it
         and get medicines based on that prescription.
    </p>
    <p>
        The system will prove helpful to urgent cases that do not reach hospital, for emergency cases that do not have doctors in area, during late night emergencies and also for preliminary examination of patients.


    </p>



    
</section>